<div class="articles__page">
  <h1 class="subtitle">Hello Folks! It's time to explore this blogsite.</h1>

  <div class="articles container d-flex flex-wrap">
    <% @articles.each do |article| %>
      <div class="container-fluid col-xs-12 col-sm-12 col-lg-5 mb-5 mt-5 p-0 article__container">
        <div>
          <div class="image__container">
            <%= render 'article_image', article: article %>
          </div>
          <%= render 'article_peek', article: article %>
        </div>
        <%= render 'comment_modal', article: article %>
      </div>
    <% end %>
  </div>
</div>

