<div class="container">
  <% if @articles.empty? %>
    <h1 class="text-center">You will see the blogs that you have written here.</h1>
    <div class="text-center">You have not written any blog.</div>
  <% else %>
    <h1 class="text-center">Here are the blogs that you have posted.</h1>
  <% end %>
  
  <div class="articles container d-flex flex-wrap">
    <% @articles.each do |article| %>
      <div class="container-fluid col-xs-12 col-sm-12 col-lg-5 mb-5 mt-5 p-0 article__container">
          <div>
            <div class="image__container">
              <%= render 'articles/article_image', article: article %>
            </div>
            <%= render 'articles/article_peek', article: article %>
          </div>
          <%= render 'articles/comment_modal', article: article %>
        </div>
    <% end %>
  </div>
</div>