// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.articles__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  // background-color: lightblue;
  background-color: var(--themeColor);
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}


th, td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  height: 40px;
  padding: 15px;
  text-align: left;
}

.article__new {
  text-decoration: none;
}


